/* Calculator by mistermaxk 2026 */
html {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: 0 auto;
    width: 400px;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 5px 5px gray;
    padding: 12px;
    display: flex;
    flex-flow: column wrap;
}

#display {
    margin-bottom: 8px;
    padding: 4px 8px;
    width: 380px;
    background-color: #eee;
    border: 1px solid black;
    text-align: right;
    font-size: 36px;
    font-weight: 300;
}

.main-buttons {
    display: flex;
}

button {
    width: 96px;
    height: 96px;
    border-radius: 4px;
    border: 1px solid #aaa;
    font-size: 24px;
}

.numerals {
    width: 300px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    gap: 2px;
}

.numerals button {
    background-color: #555;
    color: #eee;
}

#numberZero {
    order: 1;
}

.operators {
    width: 100px;
    height: 390px;
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    gap: 2px;
}

.operators button {
    background-color: rgb(249, 211, 59);
    color: #333;
    font-weight: bold;
}

#equals {
    order: 1;
    margin-right: 10px;
}

.auxiliary {
    display: flex;
    align-self: flex-end;
    gap: 2px;
    margin-bottom: 2px;
}

.auxiliary button {
    background-color: #eee;
}

#all-clear,
#backspace {
    height: 50px;
}

#backspace {
    margin-left: 10px;
}